.jumbotron{
    background-color: yellow;
    color: black;
    margin-top: 50px;
    padding: 50px 10px;
}

.breadcrumb{
    color: black;
    background-color:lightgray;
    padding: 10px;
}

.card-hotel{
    flex: 1 200px;
    /* padding: 2px; */
    margin-top: 10px;
}

.boton-reserva{
    width: 100%;
}

.oi-plus{
    margin-right: 10px;
}

footer{
    padding: 10px 10px 0px 10px;
    background-color: yellow;
    margin-bottom: 0px;
    margin-top: 20px;
}

.footer-address-icon{
    padding-right: 10px;
}

